<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Newest Product</h1>
    <% if (newestProduct) { %>
      <p><%= newestProduct.name %> is the most recent product added.</p>
    <% } else { %>
      <p>No products have been added yet.</p>
    <% } %>
  </body>
</html>
